@import 'variables';

body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

a:hover,
a:focus,
a:active,
a.active{
  color: $themePrimary;
}

// Navbar
.navbar-custom{
  background-color: transparent;
  border-color: transparent;
  .navbar-brand{
    font-family: 'Pacifico', cursive;
  }
  .hoverNav{
    &:hover,&:active,&:focus{
      background-color: white !important;
      color: $themePrimary;
      border-radius: 10px;
    }
  }
  .navbar-header{
    a{
      color: white;
      font-size: $bigText;
      @extend .hoverNav;
    }
  }
  .navbar-nav{
    li{
      a{
        @extend .hoverNav;
        color: white;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .navbar-nav>.active>a{
    background-color: white;
    color: themePrimary;
    border-radius: 10px;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus{
    background-color: white;
    color: themePrimary;
    color: themePrimary;
  }
}

// Header
header{
  background-image: url('../img/header-skytech.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

  .intro-text{
    margin-top: 30%;
    font-size: 60px;
  }

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100%;
}

// Sections

section{
  padding: 100px 0;
}

// info
section#info{
  background-color: white;
}

// Aticles
section#articles{
  background-color: darken(white, 8%);
  .article-item{

    background-color: white;
    border-radius: 15px;
    margin: 20px 0;

    .article-link{
      height: 300px;
      width: 200px;
      .article-hover{
        background: fade-out($themePrimary, .2);
        position: absolute;
        opacity: 0;
        border-radius: 13px 13px 0 0;
        width: 92.5%;
        height: 51.2%;
        color: white;
        font-size: 100px;

        i{
          margin-top: 17%;
        }

        transition: all ease 0.8s;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        
        &:hover {
            opacity: 1; 
        }
      }
    }
    
    img{
      cursor: pointer;
      border-radius: 13px 13px 0 0;

    }
    
    .article-text{
      padding: 5px 0;
      margin: 15px;
      font-family: 'Arvo', serif;
      text-align: justify;
      font-size: 16px;
    }
  
  }
}

// Footer
footer{
  background-color: $themePrimary;
  color: white;
  .btn-social{
    a{
      i{
        transition: all ease 0.8s;
        &:hover{
          transform: scale(1.6);
        }
      }

      font-size: 40px;
      color: white;
      margin: 0px 10px;
      padding: 10px 15px;
      background-color: $themeSecond;
      border-radius: 50px;
      border-color: white;
    }
  }
  .footer{
    padding: 40px 0;
  }
  .end{
    background-color: $themeSecond;
    padding: 20px 0;
  }
}

// Changes at scrolling
@media(min-width:768px){
  .navbar-custom{
    background-color: transparent;
    padding: 25px 0px;
    -webkit-transition: background .2s ease-in-out, padding .2s ease-in-out;
    -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
    transition: background .2s ease-in-out,padding .2s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

@media(min-width:768px){
  section{
    padding: 100px 0;
  }
}

@media(min-width:768px){
  .navbar-custom.affix{
    background-color:$themePrimary;
    padding: 10px 0px;
    .navbar-nav{
      a{
        color: white;
      }
    }
    .navbar-nav>.active>a{
      color: $themePrimary !important;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus{
      color: $themePrimary !important;
    }

  }
}

@media(max-width:768px){
  .navbar-custom{
    padding: 5px 0;
    background-color: $themePrimary;
    border: transparent;
    .navbar-toggle{  
      background-color: white;
      font-size: 15px;
      &:hover, &:focus, &:active{
        @extend .navbar-toggle;
      }
    }
    .navbar-collapse{
      color: white;
      &:hover, &:focus, &:active{
        @extend .navbar-collapse;
      }
    }
    .nav{
      li{
        a{
          color: white;
        }
      }
    }
    .navbar-nav>.active>a{
      color: $themePrimary !important;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus{
      color: $themePrimary !important;
    }
  }
}

@media(min-width:992px){
  .navbar-custom.affix{
    background-color:$themePrimary !important;
  }
}

// Animations
